--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
streamlit
langchain-community
langchain-classic
rank_bm25
flashrank
langchain-chroma
groq
pypdf
langchain-text-splitters
sentence-transformers
